:root {
  /* colors */
  --color-light-gray: #f5f7fa;
  --color-marigold: #ffb552;
  --color-black-cherry: #7b1146;
  --color-peach: #f9a9a9;
  --color-pastry-pink: #fbe3f3;
  --color-the-other-pink: #fff0fb;
  --color-pink-panther: #fe97ae;
  --color-raspberry: #dd78a7;
  --color-stainless: #aabfd5;
  --color-steel-gray: #6e7c9d;
  --color-pen-ink: #1e265e;
  /* fonts */
  --font-display: "Playfair Display", serif;
  --font-display-alt: "Playfair", serif;
  --font-accent: "Libre Bodoni", serif; /* for numbers */
  --font-primary: "Literata", serif;
  --font-secondary: "Roboto", sans-serif;
  --font-tertiary: "Roboto Condensed", sans-serif;
  --font-code: "PT Mono", monospace;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

body {
  color: var(--color-pen-ink);
}

section {
  padding: 40px 0;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 28px;
}

.wrapper .inner {
  max-width: 800px;
  padding: 0;
}

main,
nav {
  padding: 28px 0;
}

/* typography */
h1,
h2,
h3 {
  font-family: var(--font-display);
  font-weight: 700;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

a.btn {
  font-family: var(--font-secondary);
  color: white;
  text-align: center;
  text-decoration: none;
  background: var(--color-raspberry);
  padding: 16px 28px;
  margin-top: 18px;
  display: block;
  max-width: max-content;
  cursor: pointer;
}

a.btn.white {
  background: white;
  color: var(--color-pen-ink);
  border: solid 1px var(--color-pen-ink);
  border-radius: 4px;
}

a.btn.white::after {
  content: url("/assets/images/icons/arrow-right.svg");
  width: 7px;
  height: 12px;
}

/* elements */

#hero h1 {
  font-size: 38px;
  line-height: 1.2;
  text-align: center;
}
#hero .subtitle {
  text-align: center;
  color: var(--color-raspberry);
}
#hero .lead {
  font-size: 20px;
  text-align: center;
  color: var(--color-steel-gray);
}

#featured h2,
#new h2 {
  text-align: center;
}
#featured p,
#new p {
  text-align: center;
  color: var(--color-steel-gray);
}

.recipe-card {
  position: relative;
  border-radius: 8px;
  width: 100%;
  /* max-width: 293px; */
  border: solid 1px var(--color-accent);
  height: fit-content; /* may need to change later*/
  align-self: end;
  transition: all 0.2s ease-in-out; /* smooth hover transition */
}

.recipe-card:hover {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transform: translateY(-4px);
  transition: all 0.2s ease-in-out; /* smooth hover transition */
}

.recipe-card:last-child {
  grid-column: span 1;
}

.recipe-card h1,
.recipe-card h2
/* .recipe-card h3*/ {
  color: var(--color-pen-ink);
  text-align: center;
}

.recipe-card .subtitle {
  display: block;
  font-family: var(--font-tertiary);
  color: var(--color-raspberry);
  margin-bottom: 10px;
}

.recipe-card h1 {
  font-size: 26px;
  font-family: var(--font-display);
  font-weight: 500;
  text-align: left;
}

.recipe-card-outer {
  border-radius: 8px;
  overflow: hidden; /* hide img sharp corners top */
}

.recipe-card-inner {
  padding: 28px;
}

/* .recipe-card img.save {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 4px;
  display: block;
  cursor: pointer;
} */

.recipe-card img.recipe {
  width: 100%; /* 303px x 378px */
}

/* can be p or span */
.subtitle {
  display: block;
  font-family: var(--font-tertiary);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--color-raspberry);
  margin-bottom: 20px;
}

p.lead {
  font-size: 16px;
  line-height: 1.75;
}

/* nagivation */
nav .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-links a {
  font-weight: 400;
  text-decoration: none;
  color: var(--color-pen-ink);
  font-size: 15px;
}

.recipe-cards {
  /* margin-top: 36px;
  margin-bottom: 36px; */
  display: grid;
  /* gap: 28px; */
  grid-template-columns: repeat(auto-fill, minmax(293px, 1fr));
  gap: 20px;
  /* grid-auto-columns: 293px; */
}

/* RecipeLayout specific */
#recipe-introduction {
  background-color: #ffffff;
  padding-bottom: 0;
}
#recipe-details h2 {
  border-bottom: 2px dotted var(--color-pen-ink);
  padding-bottom: 12px;
  margin-bottom: 24px;
}

#recipe-introduction .wrapper,
#recipe-details .wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 56px;
}

@media (max-width: 768px) {
  #recipe-introduction .wrapper,
  #recipe-details .wrapper {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.recipe-image {
  width: 100%;
  /* max-width: 600px; */
  height: auto;
}

#recipe-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  /* margin-top: 1rem; */
  border: solid 1px var(--color-pen-ink);
  border-radius: 12px;
  height: min-content;
  align-content: start; /* put at the top just below the recipe image*/
  /* justify-items: center; */
  padding: 32px;
}

ol.recipe-instructions {
  margin: 16px 0;
  padding-left: 28px;
}

ol.recipe-instructions li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 20px;
  line-height: 1.75;
}

ol.recipe-instructions li::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -30px;
  color: var(--color-pen-ink);

  /* Circle styling */
  border: 1px solid var(--color-pen-ink);
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

ol.recipe-instructions li:nth-child(n + 10)::before {
  width: 38px;
  height: 38px;
}

ol.recipe-instructions li:nth-child(n + 10)::before {
  top: -6px;
  left: -36px;
}

span.prep-time,
span.cook-time,
span.total-time,
span.servings {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-tertiary);
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

span.var,
span.unit {
  color: var(--color-raspberry);
}

span.var {
  display: block;
  font-family: var(--font-accent);
  font-size: 32px;
  margin-left: 32px;
}

span.unit {
  font-family: var(--font-display-alt);
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}

/* categories & filter */

/* #filter {
  margin-top: 20px;
} */

.categories a {
  color: var(--color-pen-ink);
  text-decoration: none;
  text-transform: capitalize;
  font-style: italic;
  font-family: var(--font-tertiary);
  font-size: 16px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.category {
  /* margin: 0.25em; */
  border: solid 1px var(--color-pen-ink);
  border-radius: 99px;
  padding: 8px 20px;
  cursor: pointer;
  background-color: white;
}

/* different color for RecipeLayout, like its selected state */
.category.pink {
  background-color: var(--color-raspberry);
  color: white;
  border: solid 1px var(--color-raspberry);
}

hr.accent {
  border: none;
  border-top: 1px solid var(--color-pen-ink);
  margin: 24px 0;
  width: 42px;
}

ul.ingredients-list {
  padding-left: 0;
  list-style-type: none;
}

ul.ingredients-list li {
  margin-bottom: 24px;
}

.ingredient-checkbox {
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

/* 
figure this out later
.ingredient-checkbox:checked li {
  text-decoration: line-through;
  color: var(--color-steel-gray);
} */

.recipe-credentials {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 14px;
  /* color: var(--color-steel-gray); */
  margin-top: 8px;
}

.recipe-credentials i {
  font-style: italic;
  color: var(--color-steel-gray);
}

.recipe-description {
  /* margin-top: 16px; */
  line-height: 1.75;
}
