---
import BaseLayout from '../../layouts/BaseLayout.astro';

import RecipeSection from '../../components/RecipeSection.astro';

// Generate static paths for each category
export async function getStaticPaths() {
 
const allRecipes = Object.values(import.meta.glob('../recipes/*.md', { eager: true }));
const allCategories = [...new Set(allRecipes.map((category: any) => category.frontmatter.categories).flat())];
  
  return allCategories.map((category) => {
    // const filteredRecipes = allRecipes.filter((recipe: any) => recipe.frontmatter.categories.includes(category)); placed in RecipeSection.astro
    return {
      params: { category },
      // props: { recipes: filteredRecipes }, placed in RecipeSection.astro
    };
  });
}

const { category } = Astro.params;

---
<BaseLayout pageTitle={category} pageDescription={`Posts tagged with ${category}`}>
    <div class="wrapper">
        <p>Posts tagged with {category}</p>
    </div>
    <RecipeSection recipeList="filtered" />
    <div class="wrapper">
        <p>End of posts tagged with {category}</p>
    </div>
</BaseLayout>