---
import BaseLayout from '../../layouts/BaseLayout.astro';

import Search from '../../components/Search.astro';
import Filter from '../../components/Filter.astro';

// const allRecipes = Object.values(import.meta.glob('../recipes/*.md', { eager: true }));
// const allCategories = [...new Set(allRecipes.map((category: any) => category.frontmatter.categories).flat())];

---

<BaseLayout pageTitle="Categories" pageDescription="Browse all categories">
    <div class="wrapper">
        <h1>Categories</h1>
        <p>Browse our collection of gluten free recipes by category:</p>

        <Search />
        <Filter />
        <!-- <div class="categories">
            {allCategories.map((category) => (
            <a class="category" href={`/categories/${category}`}>{category}</a>
            ))}
        </div> -->
    </div>
</BaseLayout>
