---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allRecipes = Object.values(import.meta.glob('../recipes/*.md', { eager: true }));

const categories = [...new Set(allRecipes.map((post: any) => post.frontmatter.categories).flat())];

---

<BaseLayout pageTitle="Categories" pageDescription="Browse all categories">
    <div class="wrapper">
        <h1>Categories</h1>
        <div class="categories">
            {categories.map((category) => (
            <p class="category"><a href={`/categories/${category}`}>{category}</a></p>
            ))}
        </div>
    </div>
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>