---
import BaseLayout from '../layouts/BaseLayout.astro';
import Social from '../components/Social.astro';

---

<BaseLayout pageTitle="About Gabby's Cookbook" pageDescription="Learn more about Gabby, the creator of Gabby's Cookbook, and her passion for gluten-free cooking.">
  <div class="wrapper">

    <!-- gabby -->
    <article class="profile">
      <div>
        <img src="/assets/images/about-gabby.png" alt="Gabby Lisella" class="about-image" />
        <Social platform="instagram" username="gabbylisella" icon="instagram" />
      </div>
      <div>
        <p><span class="subtitle">Meet the Baker</span></p>
        <h1>Hi there! I am Gabby & I love to bake.</h1>
        <p>Diagnosed with Celiac Disease early on in my life, I understand the challenges associated with adjusting to a strict, lifelong change to my diet. </p>
        <p>Gluten free restaurants near me? Very few and far between that I know of offer gluten free substitutes (often with an up charge). Grocery shopping? Challenging on a budget!—More importantly, some gluten-free food, no matter where it comes from or how expensive it (unfortunately) can be, just doesn't taste good.</p>
        <p>I discovered that I can do better for health, in my own kitchen, under my own rules. And, thats my mission here.</p>
        <p>Gabby's Cookbook is a growing collection of my favorite, best tasting gluten free recipes—each one, tried and true. Gabby's Cookbook is a safe haven of home cooked meals that you or someone you know with Celiacs (or, not) that can rely on, because even “gluten eaters”, like my Zachary cannot taste the difference!</p>
      </div>
    </article>

    <!-- zach -->
     <article class="profile">
      <div>
        <p><span class="subtitle">Meet the Developer</span></p>
        <h1>Hey! My name is Zach. I am Gabby's husband & personal taste-tester. </h1>
        <p>Though known for being a wearer of many hats such as learning the art of food photography and maintaining the website, I let Gabby handle the most important parts — Baking, cooking, marketing, copywriting, and being the most beautiful face of her brand. We're a team, here. I adore her so much, because she really does put her heart and soul into every dish that she makes. I would know; its why I have a bit of a belly, now!</p>
      </div>
      <div>
        <img src="/assets/images/about-zach.png" alt="Zachary Schafer" class="about-image" />
        <Social platform="instagram" username="zjschafer" icon="instagram" />
      </div>
    </article>
  </div>
</BaseLayout>


<style>
  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center;
    justify-content: center; */
    gap: 56px;
    margin-bottom: 80px;
  }

</style>