---
import BaseLayout from '../layouts/BaseLayout.astro';

import HeroSection from '../components/HeroSection.astro';
import RecipeSection from '../components/RecipeSection.astro';

---

<BaseLayout pageTitle="Gabby's Cookbook" pageDescription="Welcome to Gabby's Cookbook! Discover delicious gluten-free recipes.">
  
      <HeroSection imageUrl="/assets/images/hero.jpg" imageMobileUrl="/assets/images/hero-mobile.jpg" />
      
      <section id="featured">
            <div class="wrapper">
            <h2>Handpicked</h2>
            <p>Gabby's seasonal choice, fan favorite, or because she made it this week!</p>
            <!-- not set up yet -->
            <!-- <RecipeSection recipeList="featured" /> -->
             </div>
      </section>

      <section id="new">
            <div class="wrapper">
            <h2>Freshly Added</h2>
            <p>Tried, true, and exclusively new, just for you.</p>
            <!-- not set up yet -->
            <!-- <RecipeSection recipeList="new" /> -->
             </div>
       </section>


</BaseLayout>