---
const allRecipes = Object.values(import.meta.glob('../pages/recipes/*.md', { eager: true }));
---

<div id="filter">
    <div class="categories">
        {allRecipes.map((recipe: any) => (
        recipe.frontmatter.categories.map((category: string) => (
            <a href={`/recipes/${category}`} class="category">{category}</a>
        ))
        ))}
    </div>
</div>