---
 const currentYear = new Date().getFullYear();
 import Social from './Social.astro';
---
<footer>
  <div class="wrapper">
    <div class="footer-grid">
      <div class="footer-left">
        <p class="copyright">
          <b><a href="/">Gabby's Cookbook</a></b>&nbsp;&copy;&nbsp;Copyright&nbsp;2025-{currentYear}
        </p>
      </div>
      <div class="footer-right">
        <p class="dedication">
          <img src="/assets/images/icons/heart-foot.svg" alt="Penguin"/>&nbsp;For my Penguin
        </p>
        <div class="social-links">
          <Social platform="instagram" username="gabbyscookbook" icon="instagram" />
          <Social platform="pinterest" username="gabbyscookbook" icon="pinterest" />
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  footer .footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .copyright{
    font-family: var(--font-primary);
  }

  .copyright a {
    text-decoration: none;
    color: var(--color-pen-ink);
  }


  .social-links {
    display: flex;
    align-items: center;
    gap: 12px;
  }


</style>