---
import RecipeSearchFilterBar from './RecipeSearchFilterBar.astro'

const { title, subtitle, text, image } = Astro.props;
---
<section id="hero" style={`background-image: url(${image});`}>
    <div class="wrapper">
        <div class="wrapper inner">
            <p class="subtitle">{subtitle || 'Gluten Free recipes'}</p>
            <h1>
            {title || 'Gluten free food that just tastes better.'}
            </h1>
            <p class="lead">
            {text || 'Guided by a simple philosophy—No gluten & no ads.'}
            </p>
        </div>
        <RecipeSearchFilterBar />
    </div>
</section>

<style>
    #hero {
        /* background: url('/assets/images/hero.jpg') no-repeat center center fixed; */
        background: no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 40px 0;
    }

    #hero .wrapper.inner {
        margin-top: 80px;
        margin-bottom: 80px;
    }
</style>