---

---
<nav>
    <div class="wrapper">
        <div class="flex row space-between">
        <div>
            <a href="/"
            ><img src="../assets/logo.svg" alt="Gabby's Cookbook Logo"
            /></a>
        </div>
        <div class="flex nav-links">
            <a href="/recipes">Recipes</a>
            <a href="/about">About</a>
            <a href="mailto:gabbymadeitglutenfree@gmail.com">Contact</a>
        </div>
        </div>
    </div>
</nav>