---
import Social from './Social.astro';
---
<nav>
    <div class="wrapper">
        <div class="flex row space-between">
        <div>
            <a href="/"
            ><img src="assets/logo.svg" alt="Gabby's Cookbook Logo"
            /></a>
        </div>
        <div class="flex nav-links">
            <a href="/">Recipes</a>
            <a href="/about">About</a>
                <Social platform="pinterest" username="gabbyscookbook" icon="pinterest" />
                <Social platform="instagram" username="gabbyscookbook" icon="instagram" />
        </div>
        </div>
    </div>
</nav>