---

---
<nav>
    <div class="wrapper">
        <div>
            <a href="/"
            ><img src="/../assets/logo.svg" alt="Gabby's Cookbook Logo"
            /></a>
        </div>
        <div class="nav-links">
            <a href="/recipes">Recipes</a>
            <a href="/about">About</a>
            <!-- make this a "copy" link -->
            <a href="mailto:gabbymadeitglutenfree@gmail.com">Contact</a>
        </div>
    </div>
</nav>
