---
const { title, subtitle, imageUrl, imageAlt, slug } = Astro.props;

---

<article class="recipe-card">
    <a href={slug} class="recipe-card-link">
        <div class="recipe-card-outer">
            <img src={imageUrl} class="recipe" alt={`${imageAlt}`} />
            <div class="recipe-card-inner">
                <!-- use this on the recipe cardss -->
              {subtitle.length > 0 && (
                <span class="recipe-subtitle">
                  {subtitle.length > 2 
                    ? subtitle.slice(0, -2).join(', ') + ', ' + subtitle.slice(-2).join(' & ') 
                    : subtitle.join(' & ')}
                </span>)
              }
                <h1 class="recipe-title">{title}</h1>
            </div>
        </div>
    </a>
</article>

<style>
    .recipe-card-link {
        text-decoration: none;
        color: inherit;
    }

    .recipe-card-outer {
        border: 1px solid var(--color-pen-ink);
    }

    .recipe-card-inner .subtitle {
        font-size: 14px;
        font-weight: 500;
    }


</style>