---
---
<div id="search">
  <!-- algolia search will go here --> <p>This is a fake search bar...</p>
</div>
<style>
  #search {
    /* height: 40px; */
    margin: 20px 0;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
</style>