---
const { platform, username, icon } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} target="_blank">
    <img
        src={`assets/images/icons/${icon}.svg`}
        alt={`${platform} icon`}
    />
</a>